.clicable{
    cursor: pointer;
   
  }
.add{
    font-size: 25px;color: #f44336; 
    text-align: center;
    
}
.item{
  color: #000000; font-size: 16px; margin-right: 10px;
  text-align: center;
}
.titre{
  font-family: cursive;
  font-size: 30px;
  color: #ca1515;
  text-align: center;
  margin-bottom: 40px;
  background-color:#E6FBEA ;
  padding-bottom: 10px;
}